body {
	background-image: url("http://i.imgur.com/7CHTikL.png");
	color: red;
}

a:hover {
	color: hotpink;
	text-decoration: underline;
	animation-timing-function: ease-in-out;
}

h1 {
	color: red;
	text-align: center;
}

#head {
	text-align: center;
}

#intro {
	text-align: right;
}

#intropara {
	text-align: center;
}

#vaderChoke {
	float: left;
	height: 20em;
	width: 24em;
	margin: 2em;
}

#starWarsRed {
	height: 25em;
	width:	35em;
}

#helmets {
	float: right;
	height: 12em;	
	width: 20em;
	margin: 1em;
}

#juvex {
	float: right;
}

#lightsabers {
	float: left;
	height: 39em;
	width: 30em;
	margin: 2em;
}

#rtnJedi {
	float: left;
	height: 39em;
	width: 27em;
	margin: 2em;
}

h2 {
	text-align: left;
	color: purple;
}

h3 {
	text-align: center;
	color: pink;
}

aside {
	border: pink;
}

#newHope {
	height: 9em;
	width: 7em;
}

#empire {
	height: 9em;
	width: 7em;
}

#rtnJedi2 {
	height: 9em;
	width: 7em;
}

#rtnJedi3 {
	height: 9em;
	width: 7em;
}

#ep4-2 {
	height: 9em;
	width: 11em;
}

#ep5-2 {
	height: 9em;
	width: 7em;
}

#ep1 {
	height: 9em;
	width: 7em;
	margin: 2em;
}

#ep2 {
	height: 9em;
	width: 7em;
	margin: 2em;
}

#ep3 {
	height: 9em;
	width: 7em;
	margin: 2em;
}

#allFilms {
	height: 9em;
	width: 12em;
	margin: 2em;
}

#disney {
	float: left;
	height: 30em;
	width: 45em;
	margin: 2em;
}

#disney2 {
	float: right;
	height: 30em;
	width: 45em;
	margin: 2em;
}

#ep7 {
	height: 9em;
	width: 7em;
	margin: 1em;
}


#resources {
	text-align: center;
	float: center;
	font-size: 1.25em;
}

ul {
	list-style-type: none;
}

#rogue {
	height: 7em;
	width: 9em;
}

#bb8 {
	float: left;
	height: 20em;
	width: 20em;
}

footer {
	text-align: center;
	color: white;
}

